*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: antiquewhite;
}

.container{
    width: 300px;
    padding: 20px;
    background-color: white;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

h1{
    margin-bottom: 15px;
    color: #333;
}

#limit-input{
    width: 100%;
    background-color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#start-btn{
    width: 100%;
    background-color: #000000;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#start-btn:hover{
    background-color: black;
}

#odd-number, #even-number{
    margin-top: 10px;
    color: #333;
}